################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DirectoryComparerUnitTests/Comparers/RecursiveImageComparerTests.cs
